body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
.carousel-img {
    width: 100%; /* Ancho total del contenedor */
    height: 400px; /* Ajusta la altura según lo que necesites */
    object-fit: cover; /* Mantiene la relación de aspecto, recortando si es necesario */
}
h1, h2 {
    margin-bottom: 20px;
}

#inicio {
    padding: 50px 0;
}

#proyectos {
    padding: 50px 0;
}

#contacto {
    padding: 50px 0;
}

footer {
    background-color: #333;
    color: white;
}

/* Estilo adicional para el modal */
.modal-content {
    border-radius: 10px;
}
